PyQt6>=6.7.0
setuptools
huggingface_hub
hf_xet
ctranslate2>=4.6.0
nvidia-cublas-cu12>=12.9.2.10
nvidia-cuda-runtime-cu12>=12.9.79
nvidia-cuda-nvrtc-cu12>=12.9.86
pyperclip>=1.8.0
keyboard>=0.13.5
GPUtil>=1.4.0
psutil>=5.9.0
py-cpuinfo>=9.0.0
thefuzz>=0.22.0
packaging>=23.0
langdetect>=1.0.9
emoji>=2.12.1
llama-cpp-python>=0.2.90,<1.0
requests>=2.32.0
easyocr>=1.7.1,<2.0
winsdk>=1.0.0b10
